<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>171836794513-3kh1ul06t7l9tguj119om8h068ai3m98.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.171836794513-3kh1ul06t7l9tguj119om8h068ai3m98</string>
	<key>API_KEY</key>
	<string>AIzaSyBzT710ZUfy8U74vp42MMapbV5_OvfrjnU</string>
	<key>GCM_SENDER_ID</key>
	<string>171836794513</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fecit</string>
	<key>PROJECT_ID</key>
	<string>fecit-16ee7</string>
	<key>STORAGE_BUCKET</key>
	<string>fecit-16ee7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:171836794513:ios:3e9999f7d418202af9c130</string>
	<key>DATABASE_URL</key>
	<string>https://fecit-16ee7.firebaseio.com</string>
</dict>
</plist>